.App {
  text-align: center;
}

.container{
  height:100vh;
}
.control-bar{
  display:block;
  height:75px;
}

.chatter-box{
  display:inline-block;
  width:330px;
  height:calc(100% - 75px);
  overflow:auto;
  vertical-align:top;
}

.stage{
  display:inline-block;
  width:calc(100% - 330px);
  height:calc(100% - 75px);
  vertical-align:top;
}

