.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  position: relative;
  margin: auto;
  top: 33%;
}

.name {
  color: white;
}

.avatar-img {
  width: 120px;
}

.avatar-stage {
  background-color: #404853;
}

hr {
  width: 40%;
  height: 3px;
  background-color:#ff7675;
  border:0;
}

i {
  padding-left: 10px;
}

.red {
  color: #ff7675;
}